# Dependencies
node_modules/
**/node_modules/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Firebase Service Account
Backend/configs/

# Air temporary build artifacts
Backend/tmp/

# Build and Caches
dist/
.cache/
.eslintcache